---
title: "Sofía La Rota López"
description: "Roboticist & Mechanical Engineer"
layout: default
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <h1>{{ "Project Portfolio" }}</h1>
    <!--
    <nav>
      <a href="/about.html">About Me</a> |
      <a href="/">Same page</a>
    </nav>
    -->
    
    <p>{{ "This page presents a selection of projects I have developed. In case of joint authorship, credit is given where credit is due.
      All of them are original creations made as an answer to a project brief, a problem that needed solving. As such, 
      please be mindful that most of these projects were completed with minimal budget, resources, and tight deadlines.
      Sometimes, mistakes were made (and owned!). Sometimes, the biggest lesson learned was what NOT to do.
      In a nutshell, this is not meant as a curated collection of picture-perfect polish were mistakes and first iterations are tucked away behind a curtain.
      Rather, it is the most honest evidence of what I can do and what I have done."}}</p>

     <p>{{ "Disclosures: In case of joint authorship, credit is given where credit is due. For transparency's sake, all uploaded media has been intentionally left unedited save for cropping and color correction. No AI has been used."}}</p>
    
    <a href="/about.html">About Me</a>
    <!--
    <img src="/assets/images/carangiform1.jpg" alt="carangigorm1">
    <p>{{ "carangiform1 should be up here"}}</p>
    -->

    <!-- <p>{{ "project list should be down here:"}}</p> -->
    <hr />
    <ul>
      {% for project in site.projects %}
        <li>
          <!--<h2>{{ project.name }}</h2>-->
          <h2><a href="{{ project.url }}" style="color:#157878;">{{ project.name }}</a></h2>
          {% if project.co-authors %}
            <p><small>{{ "Co-authors: "}} - {{ project.co-authors }}</small></p>
          {% endif %}
          {% if project.director %}
            <p><small>{{ "Directed by: "}} - {{ project.director }}</small></p>
          {% endif %}
          <p>{{ project.summary | markdownify }}</p>
          {% if project.Emphasis %}
            <p><strong>{{ project.Emphasis | markdownify }}</p></strong>
          {% endif %}
          <p style="color: gray;"><small>{{ project.keywords | markdownify }}</small></p>
          <!-- <img src={{ project.image_url }}" alt=""> -->
          <hr />
        </li>
      {% endfor %}
    </ul>
    
  </body>
</html>
