---
title: "Sofía La Rota López"
description: "Roboticist & Mechanical Engineer"
layout: default
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <h1>{{ "Project Portfolio" }}</h1>
    <!--
    <nav>
      <a href="/about.html">About Me</a> |
      <a href="/">Same page</a>
    </nav>
    -->
    
    <p>{{ "This page presents a selection of projects I have developed. All of them are original, experimental creations designed from scratch after a project brief was developed. In case of joint authorship, credit is given where credit is due. For transparency's sake, all uploaded media has been intentionally left unedited save for cropping and color correction. No AI has been used whatsoever."}}</p>

    <h2>{{ "Warning: Rough Edges Ahead!" }}</h2>
    <p>{{ "Most of these projects demanded incredible depth and complexity when compared to their tight deadlines and budgets, for which a first iteration or proof of concept was the only reasonable expectation. Showing these rough edges is intentional: this is what I am capable of when I have had minimal resources to rely on and little room for mistakes. This is the most honest evidence of what I can do, what I can handle, and what I have done"}}</p>
    
    <a href="/about.html">About Me</a>
    <!--
    <img src="/assets/images/carangiform1.jpg" alt="carangigorm1">
    <p>{{ "carangiform1 should be up here"}}</p>
    -->

    <!-- <p>{{ "project list should be down here:"}}</p> -->
    <hr />
    <ul>
      {% for project in site.projects %}
        <li>
          <!--<h2>{{ project.name }}</h2>-->
          <h2><a href="{{ project.url }}" style="color:#157878;">{{ project.name }}</a></h2>
          {% if project.co-authors %}
            <p><small>{{ "Co-authors: "}} - {{ project.co-authors }}</small></p>
          {% endif %}
          {% if project.director %}
            <p><small>{{ "Directed by: "}} - {{ project.director }}</small></p>
          {% endif %}
          <p>{{ project.summary | markdownify }}</p>
          {% if project.Emphasis %}
            <p><strong>{{ project.Emphasis | markdownify }}</p></strong>
          {% endif %}
          <p style="color: gray;"><small>{{ project.keywords | markdownify }}</small></p>
          <!-- <img src={{ project.image_url }}" alt=""> -->
          <hr />
        </li>
      {% endfor %}
    </ul>
    
  </body>
</html>
